/*
 * Open Sans Hebrew (Hebrew) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 300;
  src: url(./../fonts/opensanshebrew-opensanshebrew-lightitalic.eot);
  src: url(./../fonts/opensanshebrew-opensanshebrew-lightitalic.eot?#iefix) format('embedded-opentype'),
       url(./../fonts/opensanshebrew-opensanshebrew-lightitalic.woff2) format('woff2'),
       url(./../fonts/opensanshebrew-opensanshebrew-lightitalic.woff) format('woff'),
       url(./../fonts/opensanshebrew-opensanshebrew-lightitalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 300;
  src: url(./../fonts/opensanshebrew-opensanshebrew-light.eot);
  src: url(./../fonts/opensanshebrew-opensanshebrew-light.eot?#iefix) format('embedded-opentype'),
       url(./../fonts/opensanshebrew-opensanshebrew-light.woff2) format('woff2'),
       url(./../fonts/opensanshebrew-opensanshebrew-light.woff) format('woff'),
       url(./../fonts/opensanshebrew-opensanshebrew-light.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 400;
  src: url(./../fonts/opensanshebrew-opensanshebrew-italic.eot);
  src: url(./../fonts/opensanshebrew-opensanshebrew-italic.eot?#iefix) format('embedded-opentype'),
       url(./../fonts/opensanshebrew-opensanshebrew-italic.woff2) format('woff2'),
       url(./../fonts/opensanshebrew-opensanshebrew-italic.woff) format('woff'),
       url(./../fonts/opensanshebrew-opensanshebrew-italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 400;
  src: url(./../fonts/opensanshebrew-opensanshebrew-regular.eot);
  src: url(./../fonts/opensanshebrew-opensanshebrew-regular.eot?#iefix) format('embedded-opentype'),
       url(./../fonts/opensanshebrew-opensanshebrew-regular.woff2) format('woff2'),
       url(./../fonts/opensanshebrew-opensanshebrew-regular.woff) format('woff'),
       url(./../fonts/opensanshebrew-opensanshebrew-regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 700;
  src: url(./../fonts/opensanshebrew-opensanshebrew-bolditalic.eot);
  src: url(./../fonts/opensanshebrew-opensanshebrew-bolditalic.eot?#iefix) format('embedded-opentype'),
       url(./../fonts/opensanshebrew-opensanshebrew-bolditalic.woff2) format('woff2'),
       url(./../fonts/opensanshebrew-opensanshebrew-bolditalic.woff) format('woff'),
       url(./../fonts/opensanshebrew-opensanshebrew-bolditalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 700;
  src: url(./../fonts/opensanshebrew-opensanshebrew-bold.eot);
  src: url(./../fonts/opensanshebrew-opensanshebrew-bold.eot?#iefix) format('embedded-opentype'),
       url(./../fonts/opensanshebrew-opensanshebrew-bold.woff2) format('woff2'),
       url(./../fonts/opensanshebrew-opensanshebrew-bold.woff) format('woff'),
       url(./../fonts/opensanshebrew-opensanshebrew-bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: italic;
  font-weight: 800;
  src: url(./../fonts/opensanshebrew-opensanshebrew-extrabolditalic.eot);
  src: url(./../fonts/opensanshebrew-opensanshebrew-extrabolditalic.eot?#iefix) format('embedded-opentype'),
       url(./../fonts/opensanshebrew-opensanshebrew-extrabolditalic.woff2) format('woff2'),
       url(./../fonts/opensanshebrew-opensanshebrew-extrabolditalic.woff) format('woff'),
       url(./../fonts/opensanshebrew-opensanshebrew-extrabolditalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew';
  font-style: normal;
  font-weight: 800;
  src: url(./../fonts/opensanshebrew-opensanshebrew-extrabold.eot);
  src: url(./../fonts/opensanshebrew-opensanshebrew-extrabold.eot?#iefix) format('embedded-opentype'),
       url(./../fonts/opensanshebrew-opensanshebrew-extrabold.woff2) format('woff2'),
       url(./../fonts/opensanshebrew-opensanshebrew-extrabold.woff) format('woff'),
       url(./../fonts/opensanshebrew-opensanshebrew-extrabold.ttf) format('truetype');
}
